.header {
    background-color: var(--color-dark-gray);
    color: white;
    width: 100%;
    text-align: center;
    height: 170px;
    padding: 30px ;
}
  
.header-title {
    font-size: 50px;
}

.header-title > img {
    width: 200px;
}
  
.header-text {
    font-size: 20px;
}
