.about {
    flex-flow: row wrap;
    width: 80%;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 50px;
    text-align: center;
}

.div-title {
    font-size: 30px;
    font-weight: 600;
    width: 80%;
    color: var(--color-blue-primary)
}

.div-desc {
    margin: 30px;
    width: 500px;
}