.GoogleMap {
  text-align: center;
}

.GoogleMap-logo {
  animation: GoogleMap-logo-spin infinite 20s linear;
  height: 80px;
}

.GoogleMap-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.GoogleMap-title {
  font-size: 1.5em;
}

.GoogleMap-intro {
  font-size: large;
}

@keyframes GoogleMap-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  height: 100vh;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
